@import "../node_modules/bootstrap/dist/css/bootstrap.css";
// @import "./assets/css/bootstrap.css";
:root {
  --bg-color: #e05433;
  --bg-color-op: #e0543388;
  --color: #fff;
  --color-form: #495057;
  --color-btn: #212529;
  --input-border-color: #ced4da;
  --input-outline-color: #f1b1a2;
  --bg-color-primary: #ce401f;
  --btn-border-primary-color: #c23d1e;
  --bg-color-dark: #343a40;
  --bg-color-secondary: #6c757d;
  --bg-color-danger: #dc3545;
  --bg-color-success: #28a745;
  --btn-hover-color-success: #1e7e34;
  --btn-border-color-success: #1c7430;
  --bg-color-light: #f8f9fa;
  --a-hover: #ac361a;
}
@mixin transition($val) {
  -webkit-transition: $val;
  transition: $val;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5;
  color: var(--color-btn);
  text-align: left;
  background-color: #f8f9fa;
}
.mb-3,
.mt-3,
.my-3 {
  margin-bottom: 1rem !important;
}

.btn {
  display: inline-block;
  font-weight: 500;
  color: var(--color-btn);
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
  @include transition(
    $val: (
      color 0.15s ease-in-out,
      background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out,
    )
  );
}

.bg-primary {
  background-color: var(--bg-color) !important;

  background-color: var(--bg-color) !important;
}
.btn-primary {
  color: var(--color);
  background-color: var(--bg-color) !important;
  border-color: var(--bg-color);
  &:not(:disabled):not(.disabled):hover,
  &:not(:disabled):not(.disabled):focus,
  &:not(:disabled):not(.disabled):active {
    background-color: var(--bg-color-primary) !important;
    border-color: var(--btn-border-primary-color) !important;
  }
}
.btn-success {
  color: var(--color);
  background-color: var(--bg-color-success);
  border-color: var(--bg-color-success);
  &:not(:disabled):not(.disabled):hover,
  &:not(:disabled):not(.disabled):focus,
  &:not(:disabled):not(.disabled):active {
    background-color: var(--btn-hover-color-success);
    border-color: var(--btn-border-color-success);
  }
}
.btn-dark {
  color: var(--color);
  background-color: var(--bg-color-dark);
  border-color: var(--bg-color-dark);
}
.btn-block {
  display: block;
  width: 100%;
}

.btn-danger {
  color: var(--color);
  background-color: var(--bg-color-danger);
  border-color: var(--bg-color-danger);
}
.btn-secondary {
  color: var(--color);
  background-color: var(--bg-color-secondary);
  border-color: var(--bg-color-secondary);
}
.btn-light {
  color: var(--color-btn);
  background-color: var(--bg-color-light);
  border-color: var(--bg-color-light);
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
a {
  color: var(--bg-color);
  text-decoration: none;
  background-color: transparent;
  &:hover {
    color: var(--a-hover);
    text-decoration: underline;
  }
}
.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0;
  @include transition(
    $val: (
      color 0.15s ease-in-out,
      background-color 0.15s ease-in-out,
      border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out,
    )
  );
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  color: var(--color-form);
  background-color: var(--color);
  background-clip: padding-box;
  border: 1px solid var(--input-border-color);
  border-radius: 0;
  @include transition(
    $val: (
      border-color 0.15s ease-in-out,
      box-shadow 0.15s ease-in-out,
      -webkit-box-shadow 0.15s ease-in-out,
    )
  );
  &:focus {
    color: var(--color-form);
    background-color: var(--color);
    border-color: var(--input-outline-color);
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(224, 84, 51, 0.25);
    box-shadow: 0 0 0 0.2rem rgba(224, 84, 51, 0.25);
  }
}
img {
  width: 100%;
}

.showcase {
  position: relative;
  background: url("./assets/img/showcase.jpg") no-repeat center center/cover;
  min-height: 100vh;
  color: var(--color);
}

.showcase-inner {
  text-align: center;
  padding-top: 20%;
  height: 100%;
  width: 80%;
  margin: auto;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.text-primary {
  color: var(--bg-color) !important;
}

.custom-range {
  &::-webkit-slider-thumb {
    &:focus,
    &:active {
      background: var(--bg-color-op);
    }
    -webkit-appearance: none;
    box-shadow: 0px 0px 3px 3px #fff, 0px 0px 2px 3px var(--bg-color);
    background: var(--bg-color);
    cursor: pointer;
  }

  /* All the same stuff for Firefox */

  &::-moz-range-thumb {
    -webkit-appearance: none;
    box-shadow: 0px 0px 3px 3px #fff, 0px 0px 2px 3px var(--bg-color);
    background: var(--bg-color);
    cursor: pointer;
  }

  /* All the same stuff for IE */

  &::-ms-thumb {
    box-shadow: 0px 0px 3px 3px #fff, 0px 0px 2px 3px var(--bg-color);
    -webkit-appearance: none;

    background: var(--bg-color);
    cursor: pointer;
  }
}
